<p class="nextline">
  Paste the student list below, then click import.
</p>
<p class="nextline">
  Import data needs to be in this format - one line per student:
</p>
<p>
  john,doe,12
</p>
<div>
	<textarea id='importText' style='width:500px;height:400px'></textarea>
</div>
<div>
	<button {{action 'doImport'}}>Import</button>
</div>