Paste the student list into the text area below, then click import.<br/>
Import data needs to be in this format - one line per student:<br/>

<div class='exampleImport'>
	[firstName],[lastName],[grade]
</div>
<div>
	<textarea id='importText' style='width:500px;height:400px'></textarea>
</div>
<div>
	<button {{action 'doImport'}}>Import</button>
</div>