{{#draggable-object-target action="sessionDropped" target=rank}}
  {{#with item.session as |session|}}
    {{session-tile-draggable item=session changeDescription="changeDescription" rank=rank}}
  {{else}}
    <div class="droptarget">
      <h3 class="floatcenter" id="rank{{rank}}">
        {{rank}}
      </h3>
    </div>
    <div style="height: 17px" class="sessionName"></div>
  {{/with}}
{{/draggable-object-target}}