<div class="col-xs-4">
    <div class="instructions" style="text-align: left;">
    	Period: {{period}}
    </div>
    <br/>
    <div class="roster">
	    {{#each item as |enrollment|}} 
	        __ {{enrollment.student.firstName}} {{enrollment.student.lastName}} ({{enrollment.student.grade}})<br/>
	    {{/each}}
    </div>
</div>