<div class="col-xs-4">
    <p>
      <div id="periodText" class="instructions" style="text-align: left;">
    	 Period: {{period}}
      </div>
    </p>
    <div class="roster">
	    {{#each item as |enrollment|}} 
	        <p class="nextline">
            __ {{enrollment.student.firstName}} {{enrollment.student.lastName}} ({{enrollment.student.grade}})
          </p>
	    {{/each}}
    </div>
</div>