{{#each sessionsPrint as |sessionPrint|}}
	<h3>
		{{sessionPrint.sessionName}} | {{sessionPrint.sessionInstructor}} | Location: {{sessionPrint.sessionLocation}} <br/>
	</h3>
	<hr>
	{{roster-session rosters=sessionPrint.sessionRosters}}
	<div class="page-break"></div>
{{/each}}
