<table>
  {{#each schedule as |scheduleFragment|}}
  <tr>
      <td>{{scheduleFragment.[0]}}</td>
      <td>{{scheduleFragment.[1]}}</td>
      <td>{{scheduleFragment.[2]}}</td>
  </tr>
  {{/each}}
</table>