<div class="tile">
	<div class="session-tile" align="middle">
		<img src={{imageUrl}} class=image draggable="false" align="middle"> 
		<div class=sessionName>
			{{sessionName}}
		</div>
	</div>
</div>