{{#draggable-object-target action="sessionDropped" target=0}}
  <div class="container-fluid">
    <div class="row">
      {{#each availableSessions as |availableSession|}}
        <div class="col-md-2">
          {{session-tile-draggable item=availableSession changeDescription="changeDescription"}}
        </div>
      {{/each}}
    </div>
  </div>
{{/draggable-object-target}}