<div class="container-fluid">
    <div class="row">
        {{#each sortedItems as |enrollment|}}
            <div class="col-xs-4">
                <div class="instructions">
                    {{session-tile item=enrollment.session changeDescription="changeDescription"}}
                    Instructor: {{enrollment.session.instructorName}}<br/>
                    Instructions: {{{enrollment.session.instructions}}}<br/>
                    Period: {{enrollment.period}}<br/>
                </div>
            </div>
        {{/each}}
    </div>
</div>