<p>Student Selector Component</p>
Enter Name: {{input key-up="processKeyUp"}}<br/><br/>

{{#each filteredStudents as |item|}}
  <div>{{#link-to 'student' item}}{{item.firstname}} {{item.lastname}} {{item.grade}}{{/link-to}}</div>
{{/each}}