table, th, td {
   border: 1px solid black;
   padding: 4px;
}

td {
    text-align: left;
}

th {
    text-align: center;
    height: 40px;
}

/* page breaks for printing*/
@media all {
    .page-break { display: none; }
}

@media print {
    .page-break { display: block; page-break-before: always; }
}

/*
vertical centering from:;
http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
*/
h3 {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    width: 100%;

}

.exampleImport {
    font-family: Helvetica;
    font-size: 16px;
    margin-left: 20px;
}

.instructions {
    font-family: Helvetica;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.admin-instructions {
    text-align: left !important;
}

.roster {
    font-family: Helvetica;
    font-size: 10px;
}

.droptarget {
    font-family: Helvetica;
    font-size: 18px;
    width:140px;
    height:100px;
    border:3px dashed black;
    display: flex;
    border-radius: 20px;
    text-align: center;
}

.admin-toolbar {
    height: 100px;
}

.admin-functions {
    float: left;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    width: 80%;
    font-family: Helvetica;
    font-size: 24px;
}

.admin-enroll {
    height: 20px;
    width: 60px;
    clear: both;
}

.fb-widget {
    height: 100px;
    width: 20%;
    margin: 0 auto;
    padding-top:10px;
    float: right;
}

.fb-image {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.fb-name {
    line-height: 50px;
    vertical-align: middle;
    float: right;
}

.fb-logout {
    clear: both;
    float: right;
}

.session-tile {
    padding:0px;
    cursor: pointer;
}

.studentName {
    font-family: Helvetica;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.sessionName {
    font-family: Helvetica;
    font-size: 12px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 6px;
    width: 100%;
}

.student-display {
    height: 110px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.student-display-left {
    text-align: center;
    height: inherit;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.student-display-h {
    font-size: 16px;
    font-weight: 500;
}

.centered {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.description-display {
    text-align: center;
    height: inherit;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.session-pane {
    padding: 0px;
}

.student-selector {
    margin-top: 75px;
}

.sessions-metrics {
    width: 100%;
    margin: auto;
}

.grade-metrics {
    margin-top: 10px;
    margin-bottom: 20px;
}

.student {
    margin-top: 20px;
}
.school-logo {
    width: 70px;
    height: 50px;
    margin-right: 10px;   
    margin-bottom: 5px;
}

.image {
    border-radius: 20px; 
    width: 140px;
    height: 100px;
    display: block;
    margin: auto;
}