<div session-id={{item.id}}>
  <img src={{imagePath}} class="image" draggable="false" align="middle"> 
	<div id="name{{rank}}" class="sessionName">
    {{#unless isTransparent}}
  		{{item.sessionName}}
    {{/unless}}
	</div>
</div>