<div>
  <div class="padded">
{{#each sessionsPrint as |sessionPrint|}}
	<h3>
    <p class="nextline">
  		{{sessionPrint.sessionName}} | {{sessionPrint.sessionInstructor}} | Location: {{sessionPrint.sessionLocation}}
    </p>
	</h3>
	<hr>
	{{roster-session rosters=sessionPrint.sessionRosters}}
	<div class="page-break"></div>
{{/each}}
  </div>
</div>