<div>Paste the student list into the text area below, then click import.</div>
<div>Import data needs to be in this format - one line per student:</div>
<div class='exampleImport'>[firstname],[lastname],[grade]</div>
<div><textarea id='importText' style='width:500px;height:400px'></textarea></div>
<div><button {{action 'doImport'}}>Import</button></div>