{{#admin-only isAdmin=admin.isAdmin}}
	<div class="row">
	    <div class="col-xs-2">
	    	<p class="nextline">{{#link-to 'admin.overview.enrollment'}}Enrollment{{/link-to}}</p>
	    	<p class="nextline">{{#link-to 'admin.overview.sessions'}}Session Metrics{{/link-to}}</p>
	    	<p class="nextline">{{#link-to 'admin.overview.students'}}Student Metrics{{/link-to}}</p>
	    </div>    
	    <div class="col-xs-10">
	        {{outlet}}
	    </div>    
	</div>
{{/admin-only}}