<div class="row">
    <div class="col-xs-3">
        {{#each model as |item|}}
        {{#link-to 'admin.sessions.session' item}}{{item.sessionName}}{{/link-to}}<br />
        {{/each}}
        <br />
        {{#link-to 'admin.sessions.add'}}Add New Session{{/link-to}}        
    </div>    
    <div class="col-xs-9">
        {{outlet}}
    </div>    
</div> 