{{#if admin.isAdmin}}
	<div class="student">
	    <div class="container-fluid">
	       	<div class="row">
	        	<div class="col-xs-6">
	        		Unlock or view students:<br/>
					{{student-selector processKeyUp="processKeyUp" unlock="unlock" filteredStudents=filteredStudents isAdmin=admin.isAdmin}}
				</div>
				<div class="col-xs-6">
					Import Students:<br/>
					{{import-helper doImport="doImport"}}
				</div>
			</div>
		</div>
	</div>
{{else}}
	{{not-admin}}
{{/if}}