<div class="fb-user">
  <p class="fb-image">
  	<img id='fbImageUrl' src={{userImageUrl}}>
  </p>
<p class="fb-name" id='adminName'>
	{{adminName}}
</p>
</div>
<div class="fb-logout">
	  <input id='logoutButton' type='image' src='assets/images/fb-logout-button.png' {{action 'logout'}}/>
</div>