{{#if isAdmin}}
	<div class="admin-toolbar">
    <div class="admin-functions">
		  {{#link-to 'admin.students'}}Students{{/link-to}} |  
		  {{#link-to 'admin.sessions'}}Sessions{{/link-to}} | 
      {{#link-to 'admin.overview'}}Overview{{/link-to}} 
    </div>
      {{fb-widget adminName=adminName userImageUrl=userImageUrl logout='logout'}}
  </div>
{{else}}
  <input type='image' src='assets/images/fb-login-button.png' {{action 'login'}}/>
  <div id='loginError' style='display:none;'>
    Sorry, you are not an admin.
  </div>
{{/if}}
<div>
  {{outlet}}
</div>