{{#if isAdmin}}
  {{#link-to 'admin.import'}}Import{{/link-to}}
  {{#link-to 'admin.students'}}Students{{/link-to}}
  {{#link-to 'admin.sessions'}}Sessions{{/link-to}}
  <div>
	<button {{action 'mesh'}}>Mesh</button>
  </div>
{{else}}
{{/if}}

<div>
{{outlet}}
</div>