<div id="status" style='border:1px solid black; width:100px; height:50px;'>
</div>

<div>
    <fb:login-button scope="public_profile,email" {{action 'checkLoginState'}}>
    </fb:login-button>
</div>
{{#if isLoggedIn}}
  <div>User is logged in</div>
{{/if}}
{{#link-to 'admin.import'}}Import{{/link-to}}
{{#link-to 'admin.students'}}Students{{/link-to}}
{{#link-to 'admin.sessions'}}Sessions{{/link-to}}
  <div>
	<button {{action 'enroll'}}>Enroll</button>
  <button {{action 'test'}}>test</button>
  </div>

<div>
	{{outlet}}
</div>