{{#if isAdmin}}
    {{#link-to 'admin.import'}}Import{{/link-to}}
    {{#link-to 'admin.students'}}Students{{/link-to}}
    {{#link-to 'admin.sessions'}}Sessions{{/link-to}}
    <button {{action 'enroll'}}>Enroll</button>
    <button {{action 'test'}}>test</button>
{{/if}}

<div>
	{{outlet}}
</div>