{{#if isAdmin}}
  {{#link-to 'admin.import'}}Import{{/link-to}}
  {{#link-to 'admin.students'}}Students{{/link-to}}
  {{#link-to 'admin.sessions'}}Sessions{{/link-to}}
{{else}}
{{!--  add auth later --}}
 {{/if}}


<div>
<button {{action 'mesh'}}>Mesh</button>
</div>
<div>
{{outlet}}
</div>