{{app-nav-bar}}
<div class="container" style="margin-top: 60px;">
  {{liquid-outlet}}
</div>

{{#if atIndex}}
<h1 class="centered-text">
  Welcome to Art Day
</h1>
<br>
<p class="centered">
ICS Students {{#link-to "students" class="centered-text"}}Click to see and print your Art Day Schedules{{/link-to}}<br>
Problems?  <a href="mailto:ICSArtDay2016@gmail.com?Subject=Art%20Day">Email us</a> with the students name and a description of the issue.  
</p>
{{index-mosaic items=model}}
{{/if}}