<div class="centered-text lowered">
  <ul>
    <li>{{!-- Enter your partial first <b>OR</b> last name, then click your name.</li>
    <li><b>If your name does not appear, close the browser and try again.</b></li>    
    <li>Drag and Drop to set your preferences.</li>
    <li>When all 6 preferences are set, be sure to lock them. --}}The Deadline to set preferences has passed!</li>
    <li>We will make announcements when your schedules are finalized in a few days.</li>
    <li>Problems?  <a href="mailto:ICSArtDay2016@gmail.com?Subject=Art%20Day">Email us</a> with the students name and a description of the issue.</li>
  </ul> 
</div>
{{!-- {{student-selector processKeyUp="processKeyUp" filteredStudents=filteredStudents isAdmin=isAdmin isEnrolled=isEnrolled}} --}}